{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> Menu </title>
        <style>
            .user {
                position: absolute;
                top: 10px;
                right: 10px;
                border: solid;
            }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                name = ""
                function give_name() {
                    name = prompt ("Please type in your name", "");
                }

                give_name();
                document.querySelector("#user").value = name
                elements = document.querySelectorAll("[id = 'user']")
                for (var i = 0; i < elements.length; i++) {
                    console.log(i)
                    elements[i].value = name;
                    elements[i].innerHTML = name;
                }
            })
        </script>
    </head>
    <body>
        
        <h1> Menu </h1>
        <div class = "user" id = "user" name = "user"> 
        </div>
        <form action = "{% url 'orderPizza' %}" method = "post">
            {% csrf_token %}
            <input type = "hidden" id = "user" name = "user"> </div> 
            <button type = "submit"> Order Pizza </button>
        </form>
    </body>
</html>