{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> Menu </title>
        <style>
            .user {
                position: absolute;
                top: 10px;
                right: 10px;
                border: solid;
            }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                name = ""
                function give_name() {
                    name = prompt ("Please type in your name", "");
                }

                give_name();
                document.getElementById("user").innerHTML = name
            })
        </script>
    </head>
    <body>
        <h1> Menu </h1>
        <div class = user id = user> </div>
        <a href = "{% url 'orderPizza' %}">
            Click to Order a Pizza
        </a>
    </body>
</html>